.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  h3{
    color:black;
  }

  p{
    color:black;
  }
  .card {
    color: black;
    background-color: rgba(98, 138, 212, 0.651);
    height: auto; 
    width: 500px;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
  }
  
  .AboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%; 
    flex-direction: column;
    column-gap: 1%;
  }

  .card-row-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
  }
  .card-row-2{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
