/* you have to overload the css from leaflet*/
.leaflet-container
{
	background-color: rgb(165, 229, 255);
}

.container{
	display: grid;
	align-items: center;
	text-align: center;
	height: 100%;
	margin: 2%;
	grid-template-columns: 3fr 1fr;
	grid-gap: 10px;
}

.info-container
{
	display: flex;
	flex-direction: column;
	height: 100%;

	background-color: #777;
	border-radius: 6px;
	box-shadow: 0 2px 0 0 #e5e5e5;
	font-family: "Source Sans Pro", sans-serif;
}

.info{
	background-color: rgb(171, 171, 171);
	flex-grow: 1;
	padding-left: 5%;
	padding-right: 5%;
}

button{
	padding: 2%;
}