/* you have to overload the css from leaflet*/
.leaflet-container
{
	background-color: rgb(165, 229, 255);
}

.container{
	height: 100%;
	width: 100%;
	right: 0;
	left: 0;
	top: 0;
}

.map{
	position: absolute;
	position: sticky;
	width: 70%;
	height: 100%;
}

.info-container {
	position: absolute;
	width: 30%;
	margin-left: 45%;
	height: 100%;
	
	background-color: rgb(38, 144, 185);
	border-radius: 6px;
	box-shadow: 0 2px 0 0 rgb(6, 92, 59);;
	font-family: "Source Sans Pro", sans-serif;
	color: white;
	text-align: center;
	line-height: 1;
}

.info {
	overflow: hidden;
	background-color: rgb(74, 179, 126);
	flex-grow: 1;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 20px;
	color: white;
}