.App {
  	display: flex;
    justify-content: center;
    align-items: center; /* Add this line */
    margin-top: 15%;
    flex-direction: column;
    column-gap: 5%;

		background-color: rgb(175, 207, 236);
		margin-left: 10%;
		margin-right: 10%;
		border-radius: 15px;
}

.heading{
	font-size: xxx-large;
	padding-top: 5%;
}

.signInDiv {
	 	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 5%;
		padding: 50px;
}